{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   
    {% block browser_title %}
    
    {% endblock %}

    {% block seo_metadata %}

    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/desktop/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile/mobile-global.css' %}">
    {% if user.is_authenticated %}
        <link rel="stylesheet" href="{% static 'css/mobile/mobile-nav-loggedin.css' %}">
        <link rel="stylesheet" href="{% static 'css/desktop/menu-loggedin.css' %}">

    {% endif %}
        

    {% if request.path == '/' %}
        <link rel="stylesheet" href="{% static 'css/desktop/homepage.css' %}">
        <link rel="stylesheet" href="{% static 'css/mobile/mobile-homepage.css' %}">
    {% elif request.path == '/login/' %}
        <link rel="stylesheet" href="{% static 'css/desktop/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/mobile/mobile-login.css' %}">
    {% elif request.path == '/signup/' %}
        <link rel="stylesheet" href="{% static 'css/desktop/signup.css' %}">
        <link rel="stylesheet" href="{% static 'css/mobile/mobile-signup.css' %}">
    {% elif is_dashboard %} 
        <link rel="stylesheet" href="{% static 'css/desktop/dashboard.css' %}">
        
        <link rel="stylesheet" href="{% static 'css/mobile/mobile-dashboard.css' %}">
    {% endif %}
   
  
   
    
    <script src="https://kit.fontawesome.com/d495971c43.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="main-menu">  
        {% if user.is_authenticated %}
            <div class="menu-wrapper">
                <a href="{% url 'homepage'%}">Home</a>
                <a href="{% url 'dashboard' user=request.user.username %}">Dashboard</a>
                
            </div>
            <form class="logout-form" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="logout-btn" type="submit">Log Out</button>
            </form>
        {% else %}
            <div class="menu-wrapper">
                <a href="{% url 'homepage'%}">Home</a>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Sign Up</a>
            </div>
        {% endif %}

        </nav>

        {% block cover%}

        {% endblock %}
    </header>


    <main>
        {% block main%}
        {% endblock %}

    </main>



    <footer>
        <div class="footer-social">
            
            <!-- instagram -->
            <a class="social-link" target="_blank" href="https://www.instagram.com/cnicou.tech/"><i class="fa-brands fa-instagram"></i></a>
            
            <!-- facebook -->
            <a class="social-link" target="_blank" href="https://www.facebook.com/costas.nicou.3"><i class="fa-brands fa-facebook"></i></a>

            <!-- linkedin -->
            <a class="social-link" target="_blank" href="https://www.linkedin.com/in/cnicou"><i class="fa-brands fa-linkedin"></i></a>

            <!-- github -->
            <a class="social-link" target="_blank" href="https://github.com/costasnicou"><i class="fa-brands fa-github"></i></a>

       
        </div>

        <p> &copy; Copyright <span class="dynYear"></span> - Designed and Developed by <a target="_blank" href="https://costasnicou.com">Costas Nicou</a></p>
    </footer>

    <script>
        // copyright year
        const dynYear = document.querySelector('.dynYear');
        dynYear.innerHTML = (new Date().getFullYear());
    </script>


    {% if request.path == '/' %}
        <script src="{% static 'js/slider.js'%}"></script>
    {% elif is_dashboard %} 
        <script src="{% static 'js/dashboard.js'%}"></script>
        <script src="{% static 'js/formatted-thousands.js'%}"></script>
    {% endif %}
   
</body>
</html>