{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   
    {% block browser_title %}
    
    {% endblock %}

    {% block seo_metadata %}

    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/desktop/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile/mobile-global.css' %}">

    <!-- {% if request.LANGUAGE_CODE == "el" %}
        <link rel="stylesheet" href="{% static 'css/greek-styles.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/default-styles.css' %}">
    {% endif %} -->


    {% if user.is_authenticated %}
        <!-- <link rel="stylesheet" href="{% static 'css/mobile/mobile-nav-loggedin.css' %}"> -->
        <link rel="stylesheet" href="{% static 'css/desktop/menu-loggedin.css' %}">

    {% endif %}
        

    {% if request.path == '/' %}
        <link rel="stylesheet" href="{% static 'css/desktop/homepage.css' %}">
        <link rel="stylesheet" href="{% static 'css/mobile/mobile-homepage.css' %}">
        {% if user.is_authenticated %}
            <link rel="stylesheet" href="{% static 'css/desktop/menu-loggedin.css' %}">
        {% endif %}
    {% elif request.path == '/login/' %}
        <link rel="stylesheet" href="{% static 'css/desktop/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/mobile/mobile-login.css' %}">
    {% elif request.path == '/signup/' %}
        <link rel="stylesheet" href="{% static 'css/desktop/signup.css' %}">
        <link rel="stylesheet" href="{% static 'css/mobile/mobile-signup.css' %}">
    {% elif is_dashboard %} 
        <link rel="stylesheet" href="{% static 'css/desktop/dashboard.css' %}">
        
        <link rel="stylesheet" href="{% static 'css/mobile/mobile-dashboard.css' %}">
    {% endif %}
   
  
   
    
    <script src="https://kit.fontawesome.com/d495971c43.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">



</head>
<body>
    <header>
        <nav class="main-menu">  
            {% if user.is_authenticated %}
                <div class="menu-wrapper">
                    <a href="{% url 'homepage'%}">{% trans "Home" %}</a>
                    <a href="{% url 'dashboard' user=request.user.username %}">{% trans "Dashboard" %}</a>
                    <div class="custom-dropdown">
                        <button class="dropdown-btn">
                            {% if request.LANGUAGE_CODE == 'el' %}
                            <img src="{% static 'images/el-lang.png' %}" alt="Greek" width="20" height="20">
                            Ελληνικά
                            {% else %}
                            <img src="{% static 'images/uk-lang.png' %}" alt="English" width="20" height="20">
                            English
                            {% endif %}
                            <span class="arrow">&#9660;</span> <!-- Downward arrow -->
                        </button>
                        <ul class="dropdown-menu">
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <li>
                                    <button type="submit" name="language" value="en">
                                        <img src="{% static 'images/uk-lang.png' %}" alt="English" width="20" height="20">
                                        English
                                    </button>
                                </li>
                                <li>
                                    <button type="submit" name="language" value="el">
                                        <img src="{% static 'images/el-lang.png' %}" alt="Greek" width="20" height="20">
                                        Ελληνικά
                                    </button>
                                </li>
                            </form>
                        </ul>
                    </div>
                    
                </div>
                <form class="logout-form" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="logout-btn" type="submit">{% trans "Log Out" %}</button>
                </form>
            
            {% else %}
                <div class="menu-wrapper">
                    <a href="{% url 'homepage'%}">{% trans "Home" %}</a>
                    <a href="{% url 'login' %}">{% trans "Login" %}</a>
                    <a href="{% url 'signup' %}">{% trans "Sign Up" %}</a>

                    <div class="custom-dropdown">
                        <button class="dropdown-btn">
                            {% if request.LANGUAGE_CODE == 'el' %}
                            <img src="{% static 'images/el-lang.png' %}" alt="Greek" width="20" height="20">
                            Ελληνικά
                            {% else %}
                            <img src="{% static 'images/uk-lang.png' %}" alt="English" width="20" height="20">
                            English
                            {% endif %}
                            <span class="arrow">&#9660;</span> <!-- Downward arrow -->
                        </button>
                        <ul class="dropdown-menu">
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <li>
                                    <button type="submit" name="language" value="en">
                                        <img src="{% static 'images/uk-lang.png' %}" alt="English" width="20" height="20">
                                        English
                                    </button>
                                </li>
                                <li>
                                    <button type="submit" name="language" value="el">
                                        <img src="{% static 'images/el-lang.png' %}" alt="Greek" width="20" height="20">
                                        Ελληνικά
                                    </button>
                                </li>
                            </form>
                        </ul>
                    </div>
                    
                </div>
            {% endif %}


            
            <!-- <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <select name="language" onchange="this.form.submit()">
                   
                    {% for lang_code, lang_name in LANGUAGES %}
                    <option value="{{ lang_code }}"{% if lang_code == request.LANGUAGE_CODE %}selected{% endif %}>
                        {% if request.LANGUAGE_CODE == 'el' %}
                        <img src="{% static 'images/el-lang.png'}" width="20px" height="20px" alt="">
                       {% else %}
                           <img src="{% static 'images/uk-lang.png'}" width="20px" height="20px" alt="">
                       {% endif %}
                        {{ lang_name }}
                    </option>
                    {% endfor %}
                </select>
            </form> -->


            <!-- {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            <div class="btn-header">
                <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                    {% for language in languages %}
                        {% if language.code != LANGUAGE_CODE %}
                            <button type="submit" name="language" value="{{ language.code }}">{{ language.name }}</button>
                        {% endif %}
                    {% endfor %}
                </form> -->
            </div>
        </nav>

        {% block cover%}

        {% endblock %}
    </header>


    <main>
        {% block main%}
        {% endblock %}

    </main>



    <footer>
        <div class="footer-social">
            
            <!-- instagram -->
            <a class="social-link" target="_blank" href="https://www.instagram.com/cnicou.tech/"><i class="fa-brands fa-instagram"></i></a>
            
            <!-- facebook -->
            <a class="social-link" target="_blank" href="https://www.facebook.com/costas.nicou.3"><i class="fa-brands fa-facebook"></i></a>

            <!-- linkedin -->
            <a class="social-link" target="_blank" href="https://www.linkedin.com/in/cnicou"><i class="fa-brands fa-linkedin"></i></a>

            <!-- github -->
            <a class="social-link" target="_blank" href="https://github.com/costasnicou"><i class="fa-brands fa-github"></i></a>

       
        </div>

        <p> &copy; {% trans "Copyright" %} <span class="dynYear"></span> - {% trans "Designed and Developed by" %} <a target="_blank" href="https://costasnicou.com">{% trans "Costas Nicou" %}</a></p>
    </footer>

    <script>
        // copyright year
        const dynYear = document.querySelector('.dynYear');
        dynYear.innerHTML = (new Date().getFullYear());
    </script>


    {% if request.path == '/' %}
        <script src="{% static 'js/slider.js'%}"></script>
    {% elif is_dashboard %} 
        <script src="{% static 'js/dashboard.js'%}"></script>
        <script src="{% static 'js/formatted-thousands.js'%}"></script>
    {% endif %}
   

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const dropdown = document.querySelector('.custom-dropdown');
            const dropdownMenu = document.querySelector('.dropdown-menu');
            const dropdownBtn = document.querySelector('.dropdown-btn');

            dropdownBtn.addEventListener('click', (e) => {
                e.stopPropagation();
                dropdownMenu.classList.toggle('show');
            });

            document.addEventListener('click', () => {
                dropdownMenu.classList.remove('show');
            });
        });
    </script>
</body>
</html>