
{% extends 'dashboard/base.html'%}
{% load custom_filters %}
{% load static %}

{% block browser_title %}
 <title>Dashboard - Spendsense</title>
{% endblock %}

{% load i18n %}

{% block cover %}

{% endblock %}
{% block main %}
<div class="dashboard wrapper  ">
    <h1>{% trans "Welcome" %}, {{ user.username }}</h1>
    <h2>{% trans "Total Balance" %}: <span class="total-balance">€{{ total_balance }}</span></h2>


    <section class="wallet-section dashboard-shadow">
        <h3>{% trans "Your Wallets" %}</h3>
        
        <div class="wallets">


            <div class="tabs">
                <button class="tab active" data-tab="tab1">{% trans "Created by You" %}</button>
                <button class="tab" data-tab="tab2">{% trans "Predefined" %}</button>
               
              </div>


            <div class="tabs-container">
                <div class="tab-content active" id="tab1">
                    <div class="wallet-flex" >

                        {% if wallets|length == 3 %}
                            <p>{% trans "No Wallets available" %}</p>
                        {% endif %}

                        
                        {% for wallet in wallets %}
                            {% if wallet.is_predefined == False %}
                                <div class="wallet">
                                    <p class="wallet-category">{{wallet.category|translate}}</p>
                                    <p>
                                    <span class="wallet-header"><strong>{{ wallet.name }}</strong></span><br>
                                    {% trans "Balance" %}: <span class="wallet-amount"> €{{ wallet.balance }}</span><br>
                                    {% trans "Balance Correction" %}: <span class="wallet-amount">
                                        {% if wallet.fat %}
                                            {% if wallet.fat.amount > 0 %}
                                                €+{{ wallet.fat.amount }}
                                            {% else %}
                                                €{{ wallet.fat.amount }}
                                            {% endif %}
                                        {% else %}
                                            <p>No FAT record for this wallet.</p>
                                        {% endif %}
                                            </span>                           
                                    </p>

                        
                                    
                                
                                    <button type="button" class="wallet-btn open-edit-wallet-modal" onclick="openEditWalletModal({{ wallet.id }}); reverseEditWalletForm();" data-toggle="modal" data-target="#editWalletModal{{ wallet.id }}">
                                        {% trans "Edit" %}
                                    </button>
                                </div>

                        
                            {% endif %}

                            {% empty %}
                            <p>{% trans "No Wallets available" %}</p>
                                
                            
                        {% endfor %}
                    </div>

                </div>

                <div class="tab-content" id="tab2">
                    <div class="wallet-flex">
                        {% for wallet in wallets %}
                            
                            {% if wallet.is_predefined == True %}
                            <div class="wallet"> <br>
                                <p class="wallet-category">{{wallet.category|translate}}</p>
                                <p>
                                <span class="wallet-header"><strong>{{ wallet.name|translate }}</strong></span><br>
                                {% trans "Balance" %}: <span class="wallet-amount"> €{{ wallet.balance }}</span><br>        
                                </p>
                            </div>
                            {% endif %}
                            
                        {% empty %}
                        <p>{% trans "No Wallets available" %}</p>
                            
                        
                        {% endfor %}
                    </div>
                </div>
            
            </div>
            <button class="dashboard-btn open-wallet-modal show-form" onclick="openWalletModal()">{% trans "Add Wallet" %}</button>
        </div>
    </section>


    <section class="sum dashboard-shadow">
        <h3>{% trans "Financial Information" %}</h3>
        <div class="dashboard-flex">
            <div class="dashboard-view income">
            
                <p>{% trans "Total Income" %}: <span class="dashboard-amount">€{{ total_income|default:0.00|floatformat:2 }}</span></p>
            </div>
    

            <div class="dashboard-view expenses">
                <p>{% trans "Total Expenses" %}:  <span class="dashboard-amount">€{{ total_expenses|default:0.00|floatformat:2 }}</span></p>
            </div>

            <div class="dashboard-view fat">
                <p>{% trans "Total Balance Correction" %}: <span class="dashboard-amount">
                    {% if total_fat > 0 %}
                        €+{{ total_fat|default:0.00|floatformat:2  }}
                    {% else %}
                        €{{ total_fat|default:0.00|floatformat:2  }}
                    {% endif  %}
                </span></p>
            </div>

            <div class="dashboard-view net">
                <p>{% trans "Net Balance" %}: <span class="dashboard-amount">€{{ net_balance|default:0.00|floatformat:2  }}</span></p>
            </div>

           
    
        </div>
       
    </section>

    <section class="transactions-section dashboard-shadow">
        <h3>{% trans "Recent Transactions" %}</h3>
       
        <div class="transaction-section-wrapper">
            <table border="1">
                <thead>
                    <tr>
                        <th width="100">{% trans "Type" %}</th>
                        <th width="100">{% trans "Category" %}</th>
                        <th width="100">{% trans "Amount" %}</th>
                        <th width="100">{% trans "Wallet" %}</th>
                        <th width="100">{% trans "Current Balance" %}</th>
                        <th width="150">{% trans "Date" %}</th>
                        <th width="150">{% trans "Description" %}</th>
                        <th width="100">{% trans "Action" %}</th>
                    </tr>
                </thead>
                <tbody>
               
                    {% for transaction in transactions %}
                        <tr>
                            <td class="transaction-type">{{ transaction.type|translate }}</td>
                            <td>{{ transaction.category|translate }}</td>
                            <td>
                                {% if transaction.type == "Expense" or transaction.category == "Balance Adjustment Decrease" %}
                                    €-{{ transaction.amount }}
                                
                                {% else %}
                                    €+{{ transaction.amount }}
                                {% endif %}

                                
                            </td>
                            <td>{{ transaction.wallet.name|translate }}</td>

                            <td>€{{ transaction.total_balance }}</td>
                          
                            <td>{{ transaction.timestamp|date:"d-m-Y H:i" }}</td>
                            <td>
                                {% if transaction.description %}
                                    {{ transaction.description }}
                                {% else %}
                                    <p>{% trans "None" %}</p>
                                {% endif %}
                            </td>
                            <td>
                             <!-- Edit Button -->
                                {% if transaction.type == 'Transfer'  %}
                                    <p>{% trans "No Action" %}</p>

                                {% elif transaction.category == 'Balance Adjustment' %}
                                    <form method="POST" class="delete-balance-adjustment">
                                        {% csrf_token %}
                                        <input type="hidden" name="transaction_id" value="{{ transaction.id }}">
                                        <button class="dashboard-btn" name="delete_balance_adjustment" onclick="return confirm('Are you sure you want to delete this transaction?')" type="submit">
                                            {% trans "Delete" %}
                                        </button>
                                    </form>
                                {% else %}
                                    <button type="button" class="dashboard-btn transfer-edit"  onclick="openEditTransModal({{ transaction.id }})" data-toggle="modal" data-target="#editTransactionModal{{ transaction.id }}">
                                        {% trans "Edit" %}
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7">{% trans "No transactions available." %}</td>
                        </tr>
             
                    
                    {% endfor %}
                </tbody>
            </table>
          

        </div>
        <button class="dashboard-btn open-trans-modal show-form" onclick="openTransModal()">{% trans "Add Transaction" %}</button>
        <button class="dashboard-btn open-transfer-modal show-form" onclick="openTransferModal()">{% trans "Transfer" %}</button>
        <div class="filter-transactions">
            <h3>{% trans "Filter Transactions" %}</h3>
            <button onclick="openfilterTransModal()" class="open-filter-form dashboard-btn" >{% trans "Filter" %}</button>
        </div>
    </section>

</div>

<!-- fist time add wallet -->
<form class="wallet_form wallet-modal modal hidden" method="post">
    {% csrf_token %}
    <button type="button" class="close-form" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h1>{% trans "Add Wallet" %}</h1>
    <div class="form-group">
        {{  wallet_form.name.label_tag }} <br>
        {{ wallet_form.name }}
    </div>

    <div class="form-group">
        {{  wallet_form.category.label_tag }} <br>
        {{ wallet_form.category }}
    </div>

    <div class="form-group">
        {{  wallet_form.balance.label_tag }} <br>
        {{ wallet_form.balance }}
    </div>
 
    <button type="submit" name="submit_wallet_form" class="btn" onclick="hide_wallet()">{% trans "Add Wallet" %}</button>
</form>        
<div class="overlay hidden"></div>

<!-- first time transaction modal -->
<form method="post" class="trans-modal modal hidden">
    {% csrf_token %}
    <button type="button" class="close-form" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h1>{% trans "Add Transaction"  %}</h1>
    <div class="form-group">
        {{  transaction_form.wallet.label_tag }} <br>
        <!-- <select class="form-control" id="">
        
        </select> -->
        {{transaction_form.wallet}}
    </div>
    <div class="form-group">
        {{  transaction_form.type.label_tag }} <br>
        {{ transaction_form.type }}
    </div>
    <div class="form-group">
        {{  transaction_form.category.label_tag }} <br>
        {{ transaction_form.category }}
    </div>

    <div class="form-group">
        {{  transaction_form.description.label_tag }} <br>
        {{ transaction_form.description }}
    </div>

    <div class="form-group">
        {{  transaction_form.amount.label_tag }} <br>
        {{ transaction_form.amount }}
    </div>

    <button type="submit" name="submit_transaction_form" class="btn">{% trans "Add Transaction" %}</button>
</form>
<div class="overlay hidden"></div>


<!-- transfer money to another wallet form -->
<form method="post" class="transfer-modal modal hidden">
    <button type="button" class="close-form" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h1>{% trans "Transfer Money Between Wallets" %}</h1>
    {% csrf_token %}
    <div class="form-group">
        {{  transferform.source_wallet.label_tag }} <br>
        {{ transferform.source_wallet }}
    </div>

    <div class="form-group">
        {{  transferform.destination_wallet.label_tag }} <br>
        {{ transferform.destination_wallet }}
    </div>

    <div class="form-group">
        {{ transferform.use_fat_amount.label_tag }}
        {{ transferform.use_fat_amount }}
      
    </div>
    
    <div class="form-group form-check-group d-none">
        <label for="id_use_fat_amount" class="form-check-label d-none">
            {{ transferform.fat_wallet.label }}
        </label>
       
        {{ transferform.fat_wallet }}
    </div>


    <div class="form-group">
        {{  transferform.amount.label_tag }} <br>
        {{ transferform.amount }}
    </div>
    
    <button type="submit" class="btn btn-primary">{% trans "Transfer" %}</button>
</form>



<!-- Modal for Editing Transaction -->
{% for transaction in transactions %}

<form class="modal edit-trans-modal hidden" id="editTransactionModal{{ transaction.id }}" method="POST">
    {% csrf_token %}
    <div class="modal-header">
        <h1 class="modal-title" id="editTransactionModalLabel{{ transaction.id }}">{% trans "Edit Transaction" %}</h1>
        <button type="button" class="close-form" data-dismiss="modal" aria-label="Close" onclick="closeEditTransModal({{ transaction.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input type="hidden" name="transaction_id" value="{{ transaction.id }}">
        
        <!-- Use the transaction's pre-populated form -->
        <div class="form-group">
            {{ transaction.edit_form.wallet.label_tag }} <br>
            {{ transaction.edit_form.wallet }}
        </div>

        <div class="form-group">
            {{ transaction.edit_form.type.label_tag }} <br>
            {{ transaction.edit_form.type }}
        </div>

        <div class="form-group">
            {{ transaction.edit_form.category.label_tag }} <br>
            {{ transaction.edit_form.category }}
        </div>

        <div class="form-group">
            {{  transaction.edit_form.description.label_tag }} <br>
            {{ transaction.edit_form.description }}
        </div>

        <div class="form-group">
            {{ transaction.edit_form.amount.label_tag }} <br>
            {{ transaction.edit_form.amount }}
        </div>



    </div>
    <div class="modal-footer">
        <button type="submit" name="transaction_form_submitted" class="btn btn-primary">{% trans "Save changes" %}</button>
        <!-- Delete Button -->
        <button type="submit" name="delete_transaction" class="dashboard-btn"  onclick="return confirm('Are you sure you want to delete this transaction?')">
            {% trans "Delete" %}
        </button>
    </div>
</form>

<div class="overlay hidden"></div>
{% endfor %}


{% for wallet in wallets %}

<!-- Edit Wallet Modal -->
<div class="modal hidden" id="editWalletModal{{ wallet.id }}" tabindex="-1" role="dialog" aria-labelledby="editWalletModalLabel{{ wallet.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form  method="POST" class="edit_wallet_form">
                {% csrf_token %}
                <div class="modal-header">
                    <h1 class="modal-title" id="editWalletModalLabel{{ wallet.id }}">{% trans "Edit Wallet" %}</h1>
                    <button type="button" class="close-form" data-dismiss="modal" aria-label="Close"  onclick="closeEditWalletModal({{ wallet.id }})">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="wallet_id" value="{{ wallet.id }}">
                    {% with wallet_forms|get_item:wallet.id as wallet_form %}
                        <div class="form-group">
                            {{  wallet_form.name.label_tag }} <br>
                            {{ wallet_form.name }}
                        </div>

                        <div class="form-group">
                            {{  wallet_form.category.label_tag }} <br>
                            {{ wallet_form.category }}
                        </div>

                        <div class="form-group">
                            {{  wallet_form.balance.label_tag }} <br>
                            {{ wallet_form.balance }}
                        </div>

                       
                    {% endwith %}
                </div>
                <div class="modal-footer">
                    <button type="submit"  class="btn">{% trans "Save Changes" %}</button>
                   <!-- Delete Button -->
                   <button type="submit"  name="delete_wallet" class="dashboard-btn" onclick="return confirm('Are you sure you want to delete this wallet?');">
                    {% trans "Delete" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="overlay hidden"></div>
{% endfor %}



<!-- filter transactions -->
<form method="GET" class="modal filter-trans-modal hidden">
    <h1 class="modal-title">{% trans "Filter Transactions" %}</h1>
    <button type="button" class="close-form" data-dismiss="modal" aria-label="Close"  onclick="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="form-group">
        {{  filter_transactions_form.type.label_tag }} <br>
        {{ filter_transactions_form.type}}
    </div>

    <div class="form-group">
        {{  filter_transactions_form.category.label_tag }} <br>
        {{ filter_transactions_form.category}}
    </div>

    <div class="form-group">
        {{  filter_transactions_form.wallet.label_tag }} <br>
        {{ filter_transactions_form.wallet}}
    </div>

    <div class="form-group">
        {{  filter_transactions_form.start_date.label_tag }} <br>
        {{ filter_transactions_form.start_date}}
    </div>

    <div class="form-group">
        {{  filter_transactions_form.end_date.label_tag }} <br>
        {{ filter_transactions_form.end_date}}
    </div>

    <button type="submit" class="btn">{% trans "Filter" %}</button>
    <button type="submit" name="reset-btn" class="dashboard-btn">{% trans "Reset" %}</button>
</form>
{% endblock %}

