{% extends 'dashboard/base.html' %}
{% load static %}

{% block browser_title %}
 <title>Spendsence - Login</title>
{% endblock %}


{% block cover %}

{% endblock %}

{% block main %}
    <div class="login-container">
     
       
        <form class="login-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h1>Login</h1>
            <div class="form-group">
                {{ form.username.label_tag }} <br>
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}<br>
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-login">Login</button>
            <p>
                Don't have an account? <a href="{% url 'signup' %}">Sign up here.</a>
            </p>
        </form>

    </div>

{% endblock %}
