

{% extends 'dashboard/base.html'%}
{% load static %}

{% block browser_title %}
 <title>Signup - Spendsense</title>
{% endblock %}


{% block cover %}

{% endblock %}

{% load i18n %}
{% block main %}
<div class="signup-container">
    <h1>{% trans "Sign Up" %}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="fullname-flex">
                <div class="firstname">
                    {{ form.first_name.label_tag }} <br>
                    {{ form.first_name }}
                </div>

                <div class="lastname">
                    {{ form.last_name.label_tag }} <br>
                    {{ form.last_name }}
                </div>
            </div>
           
        </div>
        <div class="form-group">
            {{ form.username.label_tag }} <br>
            {{ form.username }}
        </div>

        <div class="form-group">
            {{ form.email.label_tag }} <br>
            {{ form.email}}
        </div>

        <div class="form-group">
            {{ form.password1.label_tag }} <br>
            {{ form.password1}}
        </div>

        <div class="form-group">
            {{ form.password2.label_tag }} <br>
            {{ form.password2}}
        </div>

        
       
        <div class="btn-wrapper">
            <button class="btn btn-signup" type="submit">{% trans "Sign Up" %}</button>
        </div>
    </form>
    <p>
        {% trans "Already have an account? " %}<a href="{% url 'login' %}">{% trans "Log in here" %}</a>.
    </p>
</div>

{% endblock %}
