html,body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
}
html{
  scroll-behavior: smooth;
}
section{
  padding: 40px;
}


.main-menu{
    text-align: center; 
    background: linear-gradient(145deg, #83ab8c,#32623d);
    background: linear-gradient(45deg, #839bab,#2c3f59);
    padding: 20px;
    height: 25px;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

.logout-form {
  position: absolute;
  right: 150px;
  top: 12px;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  width: 70%;
  position: relative;
  bottom: 2.5px;
}


.menu {
  list-style: none;
  display: flex;
  width: 20%;
  margin: 0 auto;
  justify-content: space-evenly;
  position: relative;
  top: 5px;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  position: relative;
  bottom: 2px;
}


#toggle{
  display: none;
}
.hamburger{
  display: none;
}
.menu li a{
  color: white;
  text-decoration: none;
  /* margin: 20px; */
  transition: all ease-in 0.5;
  margin: 4px 0 4px 0;

}





.form-group{
  padding: 10px;
  width: 50%;
  margin: 0 auto;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.logout-form {
  position: absolute;
  right: 150px;
}

.logout-btn{
  background-color: rgb(19, 134, 103);
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
  margin-right: 20px;
  transition: all ease-in 0.5s;
  background-color: #34d05800;
  border: 1px solid white;


}

.logout-btn:hover{
  
  /* background-color: #19692c; */
  background-color: white;
  color:rgb(8, 12, 60) ;
}


.main-menu a:hover{
    font-weight: bold;
    text-decoration: none;
 
}

.btn{
    padding: 10px 40px;
    border: 1px solid rgba(0, 0, 0, 0.976);
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition:all 0.3s ease;
    background-color: rgb(65,156,156);
    
    /* background-color: ; */

    /* background-color:#83ab8c; */
    background-color: #839bab;
}

.btn:hover{
    /* background-color: rgb(52, 127, 127); */
    background-color: #2c3f59;
    color: white;
}



.form-group{
  padding: 10px;
  width: 50%;
  margin: 0 auto;
}

.modal .form-group{
  width: 100%;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}


footer{
    height: 250px;
    background-color: #2c3f59;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(239, 239, 239);
}

footer > * {
  margin: 20px;
  text-align: center;
  width: 80%;
}

.social-link{
  text-decoration: none;
  margin: 15px;

}

.social-link i{
  font-size: 30px;
 color: rgb(239, 239, 239);

}

footer p a{
  color: rgb(239, 239, 239);

}

/* language chooser */
 /* General dropdown styling */
 .custom-dropdown {
  position: absolute;
  display: inline-block;
  font-family: Arial, sans-serif;
  top: 0;
  right: 18%;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}


.dropdown-btn img {
  margin-right: 10px;
  border-radius: 50%;
}

.dropdown-btn .arrow {
  margin-left: auto;
  font-size: 12px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
  border-radius: 5px;
  width: 150px;
  z-index: 1000;
  padding: 0;
  list-style: none;
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu button {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.dropdown-menu button img {
  margin-right: 15px;
  border-radius: 50%;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}

/* Show dropdown menu on hover or focus */
.custom-dropdown:hover .dropdown-menu,
.custom-dropdown:focus-within .dropdown-menu {
  display: block;
}

.dropdown-menu.show {
  display: block;
}

