.menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 73%;
    position: relative;
    bottom: 2.5px;
}

.menu {
    list-style: none;
    display: flex;
    width: 20%;
    margin: 0 auto;
    justify-content: space-evenly;
}